{
    margin:0;
    padding:0;
    box-sizzing: border-box;
}
.header{
    display:flex;
    background-color: #0000ff;
    color:cornsilk;
    padding:16px;
}
.header-right{
    margin:auto;
}
li{
    display:inline;
    padding:10px;
}
* {
    box-sizing: border-box;
  }
  img{
      display:auto;
      margin-left: auto;
      margin-right: auto;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.menu-bar{
    width:100%;
    height:350px;
    background-color: darkblue;
}
.menu-logo{
    display:flex;
    flex-direction: row;
}
body {
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }
  body {
    font-family: Arial;
  }
  

  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.featured{
    margin-top:4x;
}
.featured{
    padding-left:10px;

}
.line{
    width:90%;
    margin-left:100px;
    height:3px;
    background-color: rgb(226,223,222);
}
.line-child{
    width:10%;
    height:3px;
    background-color: rgb(79,185,185);
}
h2,h3{
    color:rgb(55,112,158);
}


.featured-images{
    width:50%;
    margin:auto;
    display:flex;
    flex-direction:row;
    padding:14px;
}
.card{
    margin-left:2px;
}
.btn-primary{
    margin:25px;
}
.text-primary{
    font-size:26px;
    margin-left:30px;

}
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height:0px;
  color: #333;
  background-color: #fff;
}
.fetures{
    display:flex;
}
.features div{
    margin-left:75px;

}
.featured-list li{
    list-style:none;
    display:block;

}
.featured .line{
    width:80%;
    height:1px;
    margin:0;
    line-height:0px;

}
.featured.line-child{
    height:4px;
    margin:0;
    width:20%;
}
.card-body.text-primary{
    font-size:2px;
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height:5px;
  width: 5px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #0000ff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
  .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    .footer-section{
      background-color: blue;
      width:100%;
      height:40%;
      display:flex;
      justify-content: space-between;
    }
    .footsec{
      margin:0px 30px 0px 30px;
    }
    .footsec ul{
      list-style:none;
    }
    .footsec ul li{
      padding:10px 0px;
      color:white;
    }
    .footsec h2{
      color:rgb(37,33,67)
    }   
         
}
.navigation{
  font-size: 30px !important;
  align-items: center;
  
} 
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height:150px;
  font-size:20px;
  font-color:#ffffff;
}

td, th {
  border: 1px solid #00ff00;
  text-align: left;
  text-color:#ffffff;
  padding: 10px;
  background-color:#0000ff;
}

tr:nth-child() {
  background-color: #0000ff;
}
                  
style="border: none;"
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
